*{
  font-family: 'Jost', sans-serif;
}
header.header.name {
  background: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.app .date{
  text-align: right;
  font-size: 28px;
  color: red;
  padding-right: 15px;
}