ul.global.numbers li{
    width: 15.5%;
    list-style: none;
    background: #000;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    text-transform: capitalize;
}
ul.global.numbers {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and (max-width: 767px){
    ul.global.numbers li{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    ul.global.numbers{
        flex-direction: column;
    }
}
